* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    /* font-family: sans-serif; */
}

.card{
    width:350px;
    height:450px;
    background-color: #f7f7f7;
    box-shadow: 0 3px 20px rgba(0,0,0, .12);
    border-radius:8px;
    margin:30px 50px;
}

.card div {
    width:100%;
    height:50%;
    background-color:rgb(200, 200, 200);
    border-radius:8px 8px 1px 1px;
}

.card h2{
    padding-left: 10px;
    font-weight:700;
    margin-bottom:12px;
    margin-top:20px;
}

.card p{
    padding-left:10px;
}